.disabler
{
    opacity: 0.5;
}

.profile-input 
{
    color: #331465;
    background-color: ghostwhite;
    border-radius: 15px 50px;
    height: 40px;
    width: 100%;
    border: #331465;
    text-align: center;
    outline: none;
}

.analysis-container
{
    display: grid;
    border: 10px double #331465;
    overflow: scroll;
}

@media(min-width: 535px) {
    .analysis-input-container {
        grid-row-start: 1;
        background-color: #331465;
        padding: 20px;
        min-width: 40%;
        overflow: scroll;
    }

    .analysis-output-container {
        display: grid;
        grid-row-start: 1;
        background-color: ghostwhite;
        color: #331465;
        padding: 20px;
        grid-column: 2 / 6;
        min-width: 40%;
        overflow: scroll;
        align-content: center;
        text-align: center;
    }
}

@media (max-width: 535px)
{
    .analysis-input-container {
        grid-row-start: 1;
        background-color: #331465;
        padding: 20px;
        min-width: 40%;
        overflow: scroll;
    }

    .analysis-output-container {
        grid-row-start: 2;
        background-color: ghostwhite;
        color: #331465;
        padding: 20px;
        min-width: 40%;
        overflow: scroll;
    }
}

.platform-label
{
    color: ghostwhite;
    margin-bottom: 0;
}

.submit-btn
{
    background-color: ghostwhite;
    color: #331465;
    width: 100%;
    margin: auto;
    margin-top: 2em;
    padding: 7px 0;
    border: none;
    outline: none;
}

    .submit-btn:hover 
    {
        background-color: #32CD32;
        border-color: ghostwhite;
        color: white;
    }

.skip-btn:hover 
{
    background-color: red;
    color: ghostwhite;
}

.authorization-message-header
{
    margin-top: 4em;
    color: #331465;
    font-weight: bolder;
}

.authorization-message-paragraph
{
    color: #331465;
    font-weight: bold;
}

.error-msg
{
    color: red;
    font-weight: bold;
    padding-left: 1em;
}

.label-and-load-container
{
    display: grid;
    margin-top: 2em;
}

.same-line
{
    grid-row-start: 1;
}

.mini-spinner {
    display: flex;
    border: 4px solid silver;
    border-top: 4px solid #331465;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 700ms linear infinite;
    margin-left: -85%;
    margin-bottom: -3px;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #331465;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.results-announcement, .results
{
    color: #331465;
}

