@using MetaMood.Components;
@page "/data"

<PageTitle>Data</PageTitle>

<div class="button-group">
    <button @onclick="SetSpotify" class="platform-btn"><img src="images/spotify.png" height="32" width="32" /></button>
    <button @onclick="SetReddit" value="reddit" class="platform-btn"><img src="images/reddit.png" height="32" width="32" /></button>
    <button @onclick="SetTwitter" value="twitter" class="platform-btn"><img src="images/twitter.png" height="32" width="32" /></button>
</div>
@switch(table)
{
    case "spotify":
        <DataTable DataSetType="typeof(SpotifyTrackDTO)" Title="Spotify Tracks" T="SpotifyTrackDTO"></DataTable>
        break;
    
    case "reddit":
        <DataTable DataSetType="typeof(RedditCommentDTO)" Title="Reddit Comments" T="RedditCommentDTO"></DataTable>
        break;

    case "twitter":
        <DataTable DataSetType="typeof(TweetDTO)" Title="Tweets" T="TweetDTO"></DataTable>
        break;

    default:
        <h1 class="unable-to-load-msg">Unable to load table.</h1>
        break;
}

@code {

    public string table = "spotify";

    public void SetSpotify()
    {
        table = "spotify";
    }

    public void SetReddit()
    {
        table = "reddit";
    }

    public void SetTwitter()
    {
        table = "twitter";
    }

}
