@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://twitter.com/" target="_blank">Twitter</a>
            <a href="https://open.spotify.com/?" target="_blank">Spotify</a>
            <a href="https://www.thestorygraph.com/" target="_blank">StoryGraph</a>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
