.navLink
{
    color: white;
    width: 100%;
}

.ul-container
{
    width: 100%;
}

.li-container
{
    width: 33%;
    text-align: center;
}

.li-container:hover 
{
    background-color: white;
}

.li-container:hover > a 
{
    color: #331465;
}

.navBar
{
    background-color: #331465;
}

.logo
{
    margin-top: -10px;
    margin-bottom: -10px;
}