.navLink
{
    color: white;
    margin-left: 7em;
    margin-right: 7em;
    height: 100%;
}

.navLink:hover
{
    background-color: white;
    color: #331465;
}

.navBar
{
    background-color: #331465;
}

.logo
{
    margin-top: -10px;
    margin-bottom: -10px;
}