.bar-graph {
    position: relative;
    width: 45% !important;
    height: 45% !important;
}

@media (max-width: 992px) {
    .bar-graph {
        position: relative;
        width: 90% !important;
        height: 90% !important;
    }
}


.bar-graph-container
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}