.bar-graph
{
    position: relative;
    width: 50% !important;
    height: 50% !important;
}

.bar-graph-container
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
