@using System.ComponentModel;
@inject HttpClient httpClient;

<h3>Data Table</h3>

@if(tracks is null)
{
    <svg class="loading-progress">
        <circle r="40%" cx="50%" cy="50%" />
        <circle r="40%" cx="50%" cy="50%" />
    </svg>

}
else
{
    SpotifyTrackDTO obj = new SpotifyTrackDTO();

    <table>
        <thead>
            <tr>
                @foreach (PropertyDescriptor descriptor in TypeDescriptor.GetProperties(new SpotifyTrackDTO()))
                {
                    string name = descriptor.Name;
                    <th>@name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var track in tracks)
            {
                <tr>
                    @foreach (PropertyDescriptor descriptor in TypeDescriptor.GetProperties(new SpotifyTrackDTO()))
                    {
                        <td>@descriptor.GetValue(track)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IList<SpotifyTrackDTO>? tracks;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, "/spotify-tracks?pageSize=10&pageNumber=1");
        HttpResponseMessage response = await httpClient.SendAsync(request);

        if(response.IsSuccessStatusCode)
        {
            tracks = await response.Content.ReadFromJsonAsync<IList<SpotifyTrackDTO>>();
        }
    }

}
