.table-head {
    background-color: #331465;
    color: white;
    border: 3px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

tr:nth-child(even) {
    background-color: #FCEEFE;
}


.data-table-container
{
    overflow-x: scroll;
    width: 100%;
    display: block;
}

.data-table {
    width: 100%;
    border: 3px solid black;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.table-cell
{
    border: 3px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.table-row:hover
{
    background-color: #331465;
    color: white;
}

.num-cell
{
    text-align: right;
}

.pagination-container
{
    background-color: #331465;
    width: 100%;
    display: inline-flex;
    float: right;
    justify-content: flex-end;
    align-content: center;
}

.pagination-ul
{
    margin: 0.25em 1em 0.25em auto;
}

.page-link
{
    background-color: #331465;
    color: white;
}

.page-link:hover
{
    background-color: #997ACB;
    color: #331465;
}

.numeric-page-item
{
    width: 50px;
    text-align: center;
}

.page-link-text
{
    padding: 0.375em 0 0.375em 0;
}


