.table-head-button 
{
    background-color: #331465;
    color: white;
    border: 3px solid black !important;
    border-right: none !important;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 103%;
    height: 100%;
    border: none;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
}

.table-head-button-active 
{
    background-color: #B20032;
    color: white;
    border: 3px solid black !important;
    border-right: none !important;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 103%;
    height: 100%;
    border: none;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
}

.table-head-button:hover 
{
    background-color: #997ACB;
    color: #331465;
}

.table-head-button-active:hover
{
    background-color: #F86698;
    color: #331465;
}

tr:nth-child(even) 
{
    background-color: #FCEEFE;
}

.data-table-header
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #110132;
    width: 100%;
    height: 100%;
}

.data-table-title
{
    text-align: left;
    padding-left: 20px;
    color: white;
    font-weight: bold;
}

.data-table-container
{
    overflow-x: scroll;
    width: 100%;
    display: block;
}

.data-table 
{
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.table-cell
{
    border: 3px solid black;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 20vw;
}

.table-cell-container 
{
    word-wrap: break-word;
    overflow-y: scroll;
}

.table-row:hover
{
    background-color: #331465;
    color: white;
}

.num-cell
{
    text-align: right;
}

.pagination-container
{
    background-color: #331465;
    width: 100%;
    display: inline-grid;
    align-content: center;
    overflow-y: scroll
}

.error-message 
{
    grid-row-start: 1;
    color: white;
    align-self: center;
    margin-left: 1em;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-right: 1em;
}

@media (max-width: 992px) 
{
    .error-message {
        grid-row-start: 2;
        color: white;
        align-self: center;
        margin-left: 1em;
        overflow-y: scroll;
        overflow-x: scroll;
        margin-right: 1em;
    }
}


.pagination-ul
{
    margin: 0.25em 1em 0.25em auto;
}

.pagination-nav
{
    grid-row-start: 1;
    justify-self: flex-end;
    margin-left: 5px;
}

.page-link
{
    box-shadow: none;
    background-color: #331465;
    color: white;
    width: 100%;
}

.page-link:focus
{
    outline: none;
}

.page-link:hover
{
    background-color: #997ACB;
    color: #331465;
}

.page-button-active
{
    background-color: white;
    color: #331465;
}

.numeric-page-item
{
    width: 50px;
    text-align: center;
}

.page-link-text
{
    padding: 0.375em 0 0.375em 0;
}

.mini-spinner {
    display: inline-block;
    border: 4px solid silver;
    border-top: 4px solid #331465;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 700ms linear infinite;
    margin-left: 15px;
    margin-bottom: -3px;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #331465;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@keyframes spin 
{
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.search-container
{
    display: flex;
    float: right;
    padding-right: 10px;
    width: 30%;
}

.search
{
    flex: auto;
    border-radius: 0;
    width: 90%;
    border: none;
    outline: none;
}

.search-button
{
    float: right;
    border: 2px solid white;
    background-color: #110132;
    flex: auto;
    max-width: 10%;
    min-width: 30px;
    color: white;
    top: 0px;
    padding-left: 5px;
}

.search-button:hover 
{
    background-color: #997ACB;
    color: #331465;
}

/* remove default iOS styling */
input[type=search] 
{
    -webkit-appearance: none;
}

/*
    Scroll bar styling taken from Waruna Marjula on StackOverflow
    https://stackoverflow.com/a/65776078
*/
* 
{
    scrollbar-width: thin;
    scrollbar-color: skyblue #000066;
}

*::-webkit-scrollbar 
{
    width: 10px;
}

*::-webkit-scrollbar-track 
{
    background: black;
}

*::-webkit-scrollbar-thumb 
{
    background-color: skyblue;
    border-radius: 1px;
}






