.table-head {
    background-color: #331465;
    color: white;
    border: 3px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:nth-child(even) {
    background-color: #FCEEFE;
}

.data-table {
    width: 100%;
    border: 3px solid black;
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}

.table-cell
{
    border: 3px solid black;
    padding-left: 5px;
}

.table-row:hover
{
    background-color: #331465;
    color: white;
}

.num-cell
{
    text-align: right;
}
